---
import MainLayout from '../layouts/MainLayout.astro';


---

<MainLayout>
	<h1 class="  text-3xl">Pagina protegida</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, numquam.</p>
</MainLayout>